.top {
  text-align: center;
  font-size: 20px;
  color: greenyellow;
  padding: 20px 0;
}
.board-wrap {
  max-width: 480px;
  max-height: 480px;
  width: 100vw;
  height: 100vw;
  background-color: #fff;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.cell {
  flex: 1 1 16.666666%;
  max-width: 16.666666%;
  height: 16.666666%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: #fff;
}
.tries {
  line-height: 1;
  display: inline-block;
  border: 2px solid greenyellow;
  color: greenyellow;
  padding: 10px;
  font-size: 20px;
  width: 120px;
  text-align: center;
}
.result {
  color: greenyellow;
  font-size: 30px;
}
.reset {
  cursor: pointer;
  line-height: 1;
  background-color: transparent;
  display: inline-block;
  border: 2px solid greenyellow;
  color: greenyellow;
  padding: 10px;
  font-size: 20px;
  width: 120px;
  text-align: center;
}
