<div class="top">
  Find the pug in the box!
</div>
<div class="board-wrap">
  <app-cell
    *ngFor="let cell of cells; let i = index"
    [content]="cell.content"
    [state]="cell.state"
    (click)="onCellClick(i)"
  ></app-cell>
</div>

<footer>
  <div class="tries">Tries: {{ tries }}</div>
  <div class="result">
    <div *ngIf="winner">You Win!!!</div>
  </div>
  <button class="reset" (click)="onReset()">Reset</button>
</footer>

