.cell-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cell-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.cell-content.close .cell-cover {
  background-color: #cccccc;
  display: block;
}
.cell-content.open .cell-cover {
  display: none;
}
.cell-item {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.cell-item img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;

}


