@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*common styles*/
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  min-height: 100%;
}
.container {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 480px;
  margin: auto;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
